.header {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 64px;
}

.loginButton {
    display: flex;
    border-radius: 12px;
    background: #000;
    padding: 6px 20px;
    color: #FFFFFF;
    font-size: 16px;

    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
}