.content {
  background-color: #fff;
  height: 100%;
  border-radius: 8px;
}

.body {
  overflow-y: scroll;
  padding-top: 24px;
  height: calc(100% - 42px);
  position: relative;
}

.headerTab {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  border-bottom: solid #EEF0F2 1px;
  padding-left: 16px;

}

.headerTitle {
  color: #202630;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headerLine {
  width: 1px;
  height: 19px;
  background-color: #EEF0F2;
  margin: 0 16px;
}

.timeTabs {
  display: flex;
  color: #202630;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  gap: 16px;
  font-weight: 500;
  line-height: normal;
}

.aiReport {
  margin: 16px 16px 0px;
  border-radius: 10px;
  border: 1px solid #EEF0F2;
  background: #FDFDFD;
  padding: 16px;


}

.markdwon {
  overflow-y: scroll;
}

.aiReportTitle {
  color: #202630;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tabs {
  display: flex;
  position: absolute;
  top: 42px;
  width: calc(100% - 32px);
  z-index: 9;
  background-color: #FFF;
  gap: 24px;
  align-items: center;
  margin-top: 12px;
  height: 48px;
  margin: 0 16px;
  border-bottom: 1px #EEF0F2 solid;
}

.tab {
  cursor: pointer;
  color: #202630;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  height: 100%;
}

.activeTab {
  color: #3F6DFF;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;

  font-weight: 600;
  line-height: normal;
  border-bottom: 1.5px #3F6DFF solid;

}

.tabContent {
  padding-top: 48px;
}
.nonecontent{
  height: 48px;
}

.fans {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 16px;
  justify-content: space-between;
}

.lineLineChartItem {
  border: 1px solid #EEF0F2;
  background: #FDFDFD;

  border-radius: 12px;

  width: 48.7%;
}

.postDataItem {
  border: 1px solid #EEF0F2;
  background: #FDFDFD;

  border-radius: 12px;

  width: 48.7%;
  padding: 16px;
}

.postDataName {
  align-items: center;
  gap: 16px;
  color: #202630;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

.postContent {
  color: #1a1a1b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  margin-top: 24px;
  font-weight: 400;
  line-height: normal;
}

.postAuthorId {

  color: #202630;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.postIcons {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.postIcon {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #202630;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chartTitle {
  margin-left: 16px;
  margin-top: 16px;
  color: #202630;
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.keyword {
  cursor: pointer;
  color: #3F6DFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 6px 8px;
  border-radius: 6px;
  background: #3f6cff2a;

}

.activekeywords {
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #3F6DFF;

}

.keywords {
  padding-left: 16px;
  gap: 12px;
  display: flex;
  margin-top: 24px;
}

.contentTitle {

  color: #202630;
  font-family: "PingFang SC";
  font-size: 18px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}